button {
    font-size: 0.8rem;
    padding: 0.5em 1em;
    border-radius: 0.4em;
    border: 1px solid $primary-font-color;
    background-color: $primary-font-color;
    color: white;
    transition: all 400ms ease-in-out;

    &:hover {
        background-color: $darker-primary-font-color;
    }

    &.icon {
        @include flex(row, center, center);

        img {
            margin-right: 0.3rem;
        }
    }
}