.card {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 2px 2px 4px grey;

    h1 {
        border-bottom: 1px solid lightgray;
        padding-bottom: 0.5rem;
    }

    p:nth-of-type(1) {
        margin-top: 1rem;
    }
}