<div class="marcador">
    <div class="logo">
        <img [src]="equipoLocal.logo">
    </div>
    <div class="puntos">
        <span>{{puntosLocales}}</span>
        <img src="/assets/img/NBA_Logo.svg" alt="">
        <span>{{puntosVisitantes}}</span>
    </div>
    <div class="logo">
        <img [src]="equipoVisitante.logo">
    </div>
</div>
<div class="equipos">
    <app-equipo class="equipo"
                (canasta)="getCanastaLocal($event)" 
                [equipo]="equipoLocal"></app-equipo>
    <app-equipo class="equipo"
                (canasta)="getCanastaVisitante($event)" 
                [equipo]="equipoVisitante"></app-equipo>
</div>
<app-top-score
            [equipoLocal]="equipoLocal"
            [equipoVisitante]="equipoVisitante"></app-top-score>
