$regular-font-color: #67666e;
$primary-font-color: #008489;
$darker-primary-font-color: #025b5e;


$regular-font-family: 'Lato', sans-serif;

$pc-size: 1440px;
$laptop-size: 960px;
$tablet-size: 720px;
$mobile-size: 540px;