.marcador {
    padding: 1rem 2rem;
    @include flex(row, space-between, center);
    font-size: 80px;

    .logo {

        img {
            width: 200px;
            height: auto;
        }

    }

    .puntos {
        @include flex(row, center, center);

        img {
            margin: 0 1rem;
        }
    }
}