.marcador {
    padding: 1rem 2rem;
    @include flex(row, space-between, center);
    font-size: 80px;

    .logo {

        img {
            width: 200px;
            height: auto;
        }

    }

    .puntos {
        @include flex(row, center, center);

        img {
            margin: 0 1rem;
        }
    }
}

.equipos {
    @include flex(row, center, center);

    .equipo {
        width: 50%;

        table {
            width: 100%;

            &.lakers tr:nth-child(even) {
                background-color: #FDB927;
                color: #552583;
                font-size: 1.4rem;
            }

            &.lakers tr:nth-child(odd) {
                background-color: #552583;
                color: white;
                font-size: 1.4rem;
            }

            &.celtics tr:nth-child(even) {
                background-color: #BA8653;
                color: #008248;
                font-size: 1.4rem;
            }

            &.celtics tr:nth-child(odd) {
                background-color: #008248;
                color: white;
                font-size: 1.4rem;
            }

            td {
                padding: 1rem;
            }

            &.lakers button {
                font-size: 1rem;
                padding: 0.5rem;
                margin: 0 0.5rem;
                background-color: white;
                color: #552583;
                border: 2px solid #552583;
                cursor: pointer;
            }

            &.celtics button {
                font-size: 1rem;
                padding: 0.5rem;
                margin: 0 0.5rem;
                background-color: white;
                color: #008248;
                border: 2px solid #008248;
                cursor: pointer;
            }

        }
    }
}
