.player-box {
    height: 120px;
    max-width: 720px;
    margin: 1rem auto;
    padding: 1rem;
    @include flex(row, flex-end, center);
    background-repeat: no-repeat;
    background-position: 10px;

    &.lakers {
        border: 5px solid #552582;
        color: #552582;
        background-image: url('/assets/img/lakers.svg');
    }

    &.celtics {
        border: 5px solid #008348;
        color: #008348;
        background-image: url('/assets/img/celtics.svg');
    }

    &.bulls {
        border: 5px solid #CE1141;
        color: #CE1141;
        background-image: url('/assets/img/bulls.svg');
    }

    &.no-team {
        border: 5px solid grey;
        color: grey;
    }

}

