 <!-- <div class="container">
  <div class="row">
   <div class="col-100">
      <app-autenticacion>
        <h1>{{titleText}}</h1>
        <button>{{buttonText}}</button>
        <div reppass *ngIf="!isLogin">
          <label>Repita contraseña</label>
          <input type="password">
        </div>
      </app-autenticacion>
      <p *ngIf="isLogin">Pulse <b (click)="changeAuth()">aquí</b> si no dispone de cuenta</p>
      <p *ngIf="!isLogin">Pulse <b (click)="changeAuth()">aquí</b> si ya dispone de cuenta</p>
    </div>
    <app-componente-en-linea></app-componente-en-linea>
  </div>
</div> -->